<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <%- include('../partials/header') %>

  <h1>About Page</h1>
  <p>This is the about page content.</p>

  <%- include('../partials/footer') %>
</body>
</html>
