<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <h1>Register</h1>
  <form action="/auth/register" method="POST">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Register</button>
  </form>
  <a href="/">⬅ Back to Home</a>
</body>
</html>
