<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <h1>Welcome to Admin Dashboard 🎯</h1>
  <nav>
    <ul>
      <li><a href="/administrator/posts">Manage Posts</a></li>
      <li><a href="/administrator/projects">Manage Projects</a></li>
      <li><a href="/">Go to Website</a></li>
    </ul>
  </nav>
</body>
</html>
